.Menu {
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: rgb(236, 201, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu-intro {
    font-size: 24px;
    margin-bottom: 20px;
}

.Menu input,
button {
    width: 300px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(184, 237, 231);
}

button:hover {
    background-color: rgb(159, 201, 197);
    cursor: grab;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

button:active,
button:focus {
    transform: scale(0.95);
}

body {
    background-color: #000;
    overflow: hidden;
    animation: colorSwitch 10s linear infinite;
}

@keyframes colorSwitch {
    0% {
        background-color: #eda3a3;
    }

    28% {
        background-color: #adefad;
    }

    58% {
        background-color: #b8b8f3;
    }

    88% {
        background-color: #eda6ed;
    }
    100% {
        background-color: #eda3a3;
    }

}